/* styles.css */

/* Transition styles for search and filter panels */
.panel-search-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  .panel-search-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  .panel-search-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .panel-search-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 500ms, transform 500ms;
  }
  
  .panel-filter-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  .panel-filter-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
  }
  .panel-filter-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .panel-filter-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 500ms, transform 500ms;
  }

  